{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'all_songs' %}
    All Songs
  {% elif request.endpoint == 'playlist_content' %}
    Playlist: {{ playlist.label }}
  {% else %}
    All Songs
  {% endif %}
{% endblock %}
{% block body %}
  <h3>{{ self.title() }}</h3>
  <table class="songs display" id="example" cellspacing="0" width="100%" >
    <!-- <caption>{{ self.title() }}</caption> -->
    <thead><tr>
      <th id="play_action"> Action</th>
      <th id="Title"> Title </th>
      <th id="Artist"> Artist </th>
      <th id="Album"> Album </th>
      <th id="Album"> Delete </th>
    </tr></thead>
    <tbody>
  {% for song in songs %}
    <tr>
      <td>      
        {% if g.playlist %}
        <strong>
          <a href="{{ url_for('play_songs', song_id=song.song_id) }}">PLAY</a>
        </strong>
        {% endif %}
        <strong>
          <a href="{{ song.mp3_url }}" download="{{ song.artist_name }} - {{ song.song_name }}.mp3" target="__blank">Download</a>
        </strong>
      </td>
      <td><strong>
        <a href="http://music.163.com/#/song?id={{ song.netease_id}}" target="_blank">{{ song.song_name }}</a>
      </strong></td>
      <td>{{ song.artist_name }}</td>
      <td>{{ song.album_name }}</td>
      <td>
        <strong>
          <a href="{{ url_for('remove_song', song_id=song.song_id) }}">DEL</a>
        </strong>
      </td>
    </tr>
  {% else %}
    <tr>
      <td> None </td>
      <td> None </td>
      <td> None </td>
      <td> None </td>
    </tr>
  {% endfor %}
    </tbody>
  </table>
{% endblock %}


{% block footer %}
<script type="text/javascript" src="https://cdn.datatables.net/r/zf-5.5.2/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#example').dataTable({
      pageLength: 10
    });
  } );
</script>
{% endblock %}
